<style>
	html {
		height: 100%;
	}
	
	body {
		background-color: rgba(19,19,192,0.3);
		background-image: url(../img/bg.jpg);
	}

	h1 {

		font-family: 'Indie Flower', cursive;
		font-size: 40px;
		padding: 0% 2%;
	}

	h2{
		font-family: "Times New Roman", Times, serif;
		font-size: 30px;
		padding: 0% 2%;
	}

	h3{
		font-family: "Courier New", Courier, monospace;
		font-style: italic;
		font-size: 20px;
		padding: 0% 2%;
	}

	p{
		font-size: 30px;
		font-family: "Times New Roman", Times, serif;
		text-align: justify;
		padding: 0% 2% 0% 2%;
		line-height: 40px;
	}
	
	li{
		padding: 0% 0% 0% 2%;
		margin: 0% 0% 0% 2%;
	}
	
	dd {
		margin: 1% 0% 0% -0%;
	}
	
	.projectList{
		font-size: 30px;
		font-family: "Times New Roman", Times, serif;
		padding: 2% 5% 5% 5%;
	}

	.container-wrapper {				
		padding: 40px 0;
		position: relative;
	}

	.image-overlay {
		position: absolute;
		content: "";
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: red;
		background-image: url(../img/code0101.jpg);
		margin: 0 auto;
		opacity: .2;
	}

	.container{
		position: relative;
		z-index: 2;
		background-image: url(../img/rajesh.png);
		background-size: 200px 200px;
		background-repeat: no-repeat;
		background-position: center;
		height: 200px;
		text-align: center;
		width: 96%; 
		margin: 0 auto;			
	}

	.name{
		position: relative;
		z-index: 3;
		height: 400;
		text-align: center;
		font-family: 'Dancing Script', cursive;
		font-size: 45px;
		color: blue;
	}
	

	.clearfix:after {
		display: table;
		clear: both;
		content: "";
	}

	/* other utility classes*/
	.center {
		text-align: center;
	}

	article {
		text-align: justify;
		float: left;
		font-size: 30px;
		line-height: 40px;
		width: 50%;
		padding: 2%;
	}

	aside{
		text-align: justify;
		float: right;
		font-size: 30px;
		width: 40%;
		padding: 2%;
	}
	
	resume{
		font-size: 30px;
		line-height: 40px;
		width: 90%;
		padding: 2%;
	}
	
	article p{
		text-align: justify;
		float: left;
		font-size: 30px;
		line-height: 40px;
		width: 60%;
		padding: 2%;
	}

	aside p{
		text-align: justify;
		float: right;
		font-size: 30px;
		width: 30%;
		padding: 2%;
	}
	
	
	.mypara{
		font-size: 30px;
		font-family: "Times New Roman", Times, serif;
		text-align: justify;
		padding: 0% 0% 0% 1%;
		margin: 0;
	}
	
	.highlightme { 
		background-color: #C0D4EC; 
	}

	/* unvisited link */
	a:link {
		color: green;
	}

	/* visited link */
	a:visited {
		color: green;
	}

	/* mouse over link */
	a:hover {
		color: red;
	}

	/* selected link */
	a:active {
		color: yellow;
	}

	.relative-absolute{
		position: relative;
	}

	.relative-absolute img{
		position: absolute;
		top: 0;
		right: 120px;
	}
	
	.state {
		fill: #D3D3D3;
		stroke-width: 0.1;
		stroke: #FFFFFF;
	}
	
	.grayLabel {
		fill: gray;
		stroke-width: 0.1;
		stroke: gray;
	}
	
	.redLabel {
		fill: red;
		stroke-width: 0.1;
		stroke: red;
	}
	
	.orangeLabel {
		fill: orange;
		stroke-width: 0.1;
		stroke: orange;
	}
	
	.greenLabel {
		fill: green;
		stroke-width: 0.1;
		stroke: green;
	}
	
	.cyanLabel {
		fill: cyan;
		stroke-width: 0.1;
		stroke: cyan;
	}
	
	.blueLabel {
		fill: blue;
		stroke-width: 0.1;
		stroke: blue;
	}
	
	.labelText {
		font-size: 15px;
		font-family: sans-serif;
		fill: black;
		stroke: none;
		text-anchor: middle;
	}

</style>